<div class="row">
    <div class="col">
        <p-tabView>
            <p-tabPanel header="Gráfico">
                <p-chart #chart type="bar" [data]="data" [options]="options" [responsive]="true"></p-chart>
            </p-tabPanel>
            <p-tabPanel  header="Tabla">
                <p-table #dt [value]="dataTableData" [paginator]="true" [rows]="50" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="timestamp">Fecha<p-sortIcon field="code"></p-sortIcon></th>
                            <th>Humedad</th>
                            <th>Temperatura</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.timestamp }}</td>
                            <td>{{ product.humidity }}</td>
                            <td>{{ product.temperature }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
        </p-tabView>

    </div>
</div>
<div class="d-flex">
    <app-datail-table sensorType="climate" [params]="params" [sensorId]="sensor_id"></app-datail-table>
</div>